@{
    ViewBag.Title = "Number To Words";
}

<h2>Convert number to words</h2>

<div class="panel panel-default">
    <div class="panel-heading">Input</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="id">Number</label>
            <div class="input-group">
                <input type="text" class="form-control" id="id" placeholder="Enter a number. Eg: 0, -12, 120">
                <button class="btn btn-primary" type="button" data-bind="click: $root.readNumber">Read</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Output</div>
    <div class="panel-body">
        <div id="response"></div>
    </div>
</div>

@section script
{
@Scripts.Render("~/Scripts/knockout-3.1.0.js")
@Scripts.Render("~/Scripts/moment.min.js")
<script>
    function AppViewModel() {
        var self = this;
        self.readNumber = function () {
            var number = parseInt($('#id').val());
            $.get("/api/numbertowords/" + number, null, function (response) {
                var line = $('<p/>').html(response);
                $('#response').prepend(line);
            });
        };
    }
    ko.applyBindings(new AppViewModel());
</script>
}
